# General
.DS_Store

# C# (.NET)
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# Elixir
*.ez
*.tar
.fetch
_build
cover
deps
doc
erl_crash.dump

# TypeScript (Node.js)
.pnp.cjs
.pnp.loader.mjs
.yarn
node_modules
package-lock.json
yarn.lock
